.App{
  display: flex;
  text-align: center;
  justify-content: center;

}
button{
  padding: 10px 7px 10px 10px;
  background:rgba(218, 142, 142,0%) ;
  border:3px solid grey;
  font-size: 2rem;
  border-radius: 20px;
  margin-top: 25%;
}

button:hover{
  cursor: pointer;
  background:rgba(255, 255, 255, 0.3);
  transition: 1000ms;
  transition-timing-function: ease-in-out;
}